<head>
    <title>Melp!</title>
    <script src="https://use.fontawesome.com/e3528ce583.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montez|Raleway" rel="stylesheet">

</head>
<body>
    
    <div id="app">
            <nav class="header navbar navbar-light fixed-top">
                    <span class="navbar-brand mb-0 h1 brand">{{ logo }}</span>
                    <a id="github-link" href="https://github.com/vzalberto/melp" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
            </nav>
    <div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-lg-6 sidebar">

            <div class="row location-filter">

                <div class="col-sm-4">
                     Sort by:
                         <select v-model="sortBy">
                             <option value="rating">Rating</option>
                             <option value="name" selected>Name</option>
                         </select>
                         <select v-model="orderBy">
                             <option value="asc">Ascending</option>
                             <option value="des" selected>Descending</option>
                         </select>
                </div>

                <div class="col-sm-4">
                 </div>

                 <div class="col-sm-4">
                     Search: <input v-model="searchQuery">
                 </div>
            </div>
                     <template v-for="location in filteredLocations">
                         <div class="row location-info">

                            <div class="col-sm-12 location-name">
                                <hr>
                                <p>{{ location.name }}<star-rating v-model="location.rating" :read-only=true :show-rating=false :star-size=20></star-rating></p>
                            </div>
                            
                            <div class="col-sm-6 location-address">
                                <p>{{ location.address.street }}</p>
                                <p>{{ location.address.city }}</p>
                                <p>{{ location.address.state }}</p>
                            </div>
                        
                            <div class="col-sm-6 location-contact">
                                <a :href="location.contact.site" target="_blank">{{ location.contact.site }}</a>&nbsp;🖥
                                <br>
                                <a :href="'mailto:'+location.contact.email">{{ location.contact.email }}</a>&nbsp;📬
                                <br>
                                <a :href="'phone:'+location.contact.phone">{{ location.contact.phone }}</a> &nbsp;📞  
                            </div>

                            <div class="col-sm-6 fb-share">
                                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fvzalberto.github.io%2Fmelp&width=153&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=537442539638025" width="153" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                            </div>
                     </template>
        </div>
        <div class="col-sm-12 col-lg-6 map-container hidden-sm-down">
                <gmap-map
                :center="center"
                :zoom="zoom"
                style="width: 100%; height: 100%;"
              >
              <gmap-marker
              :key="index"
              v-for="(m, index) in locations"
              :position="m.address.location"
              :clickable="true"
              :draggable="true"
              @click="center=m.position"
            ></gmap-marker>

            </gmap-map>
        </div>
    </div>
    </div>  <!--container-->
    </div>  <!--app-->

<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" integrity="sha256-SzKOQsVYGX1bmddyfPzGC6yXY/rWYGUSMOi6+T9gZ+0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.3"></script>
<script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>

<script src="js/vue-google-maps.js"></script> 
<script src="js/app.js"></script>
</body>